<div fxLayout="row" fxLayoutAlign="center center" id="horse">
    <mat-card fxFlex="60">
        <div fxLayout="row"  fxLayoutAlign="end center">
            <button mat-raised-button color="primary" class="add" (click)="horseDialog('add', '')">+ ADD</button>
        </div>
        <table *ngIf="horseList != ''">
            <tr>
            <th>Horse Name</th>
            <th>Horse Number</th>
            <th>Horse Age Verified</th>
            <th>Horse DOB</th>
            <th>Horse Color</th>
            <th>Action</th>
            </tr>
            <tr *ngFor="let horse of horseList">
                <td>{{horse.horse_name}}</td>
                <td>{{horse.horse_number}}</td>
                <td>{{horse.age_verified == 1? 'Yes' : 'No'}}</td>
                <td>{{horse.dob}}</td>
                <td>{{horse.color}}</td>
                <td style="text-align: center">
                    <button mat-mini-fab color="primary" style="margin-right: 10px" (click)="horseDialog('update', horse.id)"><i class="material-icons">create</i></button>
                    <button mat-mini-fab color="warn"><i class="material-icons" (click)="horseDialog('delete', horse.id)">delete</i></button>
                </td>
            </tr>
        </table>
        <p *ngIf="horseList == ''" style="text-align: center">No Records</p>
    </mat-card>
</div>
