#horse{
  mat-card {
    margin-top: 100px;

    table {
      width: 100%;
      border-collapse: collapse;
      th, td{
        border: 1px solid #ccc;
        padding: 10px;
      }
      th{
        background: cadetblue;
        color: #fff;
      }

    }

    .add {
      margin-bottom: 20px;
    }
  }

}
