<div fxLayout="row" fxLayoutAlign="center center" id="horse">
    <mat-card fxFlex="60">
        <div fxLayout="row"  fxLayoutAlign="end center">
            <button mat-raised-button color="primary" class="add" (click)="horseDialog()">+ ADD</button>
        </div>
        <table>
            <tr>
            <th>Horse Name</th>
            <th>Horse Number</th>
            <th>Horse Age Verified</th>
            <th>Horse DOB</th>
            <th>Horse Color</th>
            <th>USHJA</th>
            <th>Action</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </mat-card>
</div>
